body {
    padding-bottom: 20px;
}

.container {
    padding-bottom: 20px;
}

img {
    margin-top: 12px;
}

.fashion img:hover {
    transform: scale(0.8);
}

#submit {
    height: 60px;
    width: 300px;
}

#submit:hover {
    background-color: pink;
}