* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gabriela";
    background-color: #F3DCDC;
}

h3 {
    background-color: transparent;
}

body {
    font-family: sans-serif, 'Segoe UI', "gabriella";
}

h3 {
    background-color: transparent;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 16px;
}

.navbar ul li a:hover {
    background-color: gray;
    color: white;
}

.logo {
    font-size: 30px;
    font-family: "gabriella";
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}


/*.fa-solid {*/


/*    font-size: 100px;*/


/*    color: black;*/


/*}*/


/* carrousel */

.carousel .carousel-item {
    position: relative;
}

.carousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.carousel .carousel-item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(50%);
}

.carousel .carousel-item .carousel-caption h3 {
    color: #fff;
    text-shadow: 0 5px 5px #000;
    font-size: 60px;
    text-transform: uppercase;
}

.carousel .carousel-item .carousel-caption {
    color: rgb(15, 15, 15);
    font-size: 15px;
    padding: 32px 0;
    width: 880px;
    text-transform: uppercase;
}

.carousel-caption {
    background-color: transparent;
}

.btn {
    width: 170px;
    height: 60px;
    background-color: black;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    outline: none;
}

.btn:hover {
    letter-spacing: 3px;
    opacity: 1px;
}

img {
    width: 100%;
}

.fashion img:hover {
    transform: scale(0.8);
}


/* <!-- about us -->

        <!-- end of about us  -->

        <!-- our store -->

        <!-- end of our store -->

        <!-- contact us  -->

        <!-- end of contact us --> */


/* <!-- footer -->

        <!-- end of footer --> */


/* styles for our store */

img {
    margin-top: 10px;
}


/* end of styles for our store */